<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{chosenSupplier.supplier_name}}</h5>
                    <li class="list-group-item">Supplier Address : {{chosenSupplier.supplier_address}}</li>
                    <li class="list-group-item">Supplier ID : {{chosenSupplier.supplier_id}}</li>
                    <li class="list-group-item">Supplier Phone : {{chosenSupplier.supplier_phone}}</li>
                    <li class="list-group-item">Supplier E-Mail : {{chosenSupplier.supplier_email}}</li>
                    <li class="list-group-item">Supplier Services : {{chosenSupplier.supplier_services}} </li>
                </div>
              </div>
            </div>
      </div> 
    </div>
  </div>
